unlists *
unsubscribe *

# apache mailing lists
subscribe dev@httpd.apache.org
subscribe dev@apr.apache.org
subscribe cvs@httpd.apache.org
subscribe commits@apr.apache.org
subscribe docs@httpd.apache.org
subscribe committers@httpd.apache.org
subscribe mbox-dev@httpd.apache.org

# lua list
subscribe lua@bazar2.conectiva.com.br

# soc-2005
subscribe summer-accepted-2005-nh@googlegroups.com

# spca5xx
subscribe spca50x-devs@lists.sourceforge.net

# lcd4linux
subscribe lcd4linux-dev@lists.sourceforge.net
subscribe lcd4linux-users@lists.sourceforge.net

# nekeme
subscribe asso@nekeme.net
subscribe gobelins@nekeme.net gobelins@lists.apinc.org
subscribe gobelins-dev@nekeme.net gobelins_dev@lists.apinc.org
subscribe gobelins-gameplay@nekeme.net gobelins_gameplay@lists.apinc.org
subscribe gobelins_sources@lists.apinc.org

# lolut
subscribe lolut@lolut.utbm.info
subscribe lolut-orga@lolut.utbm.info

# utbm
subscribe etudiants@utbm.fr
subscribe promo05-liste@utbm.fr

