######################################################################
# mailboxes                                                          #
######################################################################

# mailboxes : defines folders which can receive mail and which will be
# checked for new messages.

# NOTE: the contents of this file has been generated automatically
# from the shell :
# % cd ~/Maildir/
# % for i in .* ; do
#     echo "mailboxes =${i#.}" >> ~/.mutt/mailboxes.rc ;
#   done

mailboxes =INBOX
mailboxes =3dwm
mailboxes =accounts
mailboxes =apache
mailboxes =bluefish
mailboxes =bulix-org
mailboxes =divers
mailboxes =Drafts
mailboxes =dvorak-fr
mailboxes =gobelins
mailboxes =gobelins.commits
mailboxes =gobelins.dev
mailboxes =gobelins.gameplay
mailboxes =kos
mailboxes =lcd4linux
mailboxes =lfs-book
mailboxes =lolut
mailboxes =lolut.formation
mailboxes =lolut.lolut-cvs
mailboxes =lolut.lolut-orga
mailboxes =lua
mailboxes =moonlight
mailboxes =nekeme
mailboxes =nova-mag
mailboxes =openoffice
mailboxes =petazzoni
mailboxes =petazzoni.jerome
mailboxes =petazzoni.maxime
mailboxes =petazzoni.parents
mailboxes =petazzoni.rose
mailboxes =petazzoni.thomas
mailboxes =prologin
mailboxes =root66-net
mailboxes =soc-2005
mailboxes =spca5xx
mailboxes =sylpheed
mailboxes =tractux
mailboxes =underware
mailboxes =utbm
mailboxes =utbm.ae
mailboxes =utbm.humanites
mailboxes =utbm.promo05
mailboxes =utbm.sogenactif
mailboxes =zwe

